<!DOCTYPE html>
<html lang="en-US" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Western Prime Bank">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ url_for('static', path='account/logo.png') }}">
    <meta property="og:url" content="https://westernprimebank.com">
    <meta name="twitter:card" content="">
    <meta property="og:description" content="This Credit Union is federally insured by the National Credit Union Administration. We do business in accordance with the Fair Housing Law and Equal opportunity Credit Act.">
    <meta property="og:site_name" content="Western Prime Bank">
    <meta name="twitter:image:alt" content="">
    <title>{% if auth_title %}{{ auth_title }}{% else %}Western Prime Bank{% endif %}</title>
    <meta name="description" content="This Credit Union is federally insured by the National Credit Union Administration. We do business in accordance with the Fair Housing Law and Equal opportunity Credit Act.">
    <link rel="shortcut icon" href="{{ url_for('static', path='account/images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', path='account/assets/css/dashlite.css') }}?ver=2.4.0">
    <link rel="stylesheet" href="{{ url_for('static', path='account/scss/sweetalert.css') }}">
    <link id="skin-default" rel="stylesheet" href="{{ url_for('static', path='account/assets/css/theme.css') }}?ver=2.4.0">
    <link href="{{ url_for('static', path='account/css/toastr.css') }}" rel="stylesheet"/>
</head>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<style>
.goog-te-gadget-simple { border:none; }
.goog-te-gadget-simple a { color:#000; }
</style>
<style type="text/css">
    .btn-primary{ background-color: #033d75; }
    .btn-secondary{ background-color: #d13636; }
    .btn-secondary:hover{opacity: 0.6;}
    .btn-primary:hover{opacity: 0.6;}
</style>
<body class="nk-body npc-crypto bg-white pg-auth">
    <div class="nk-app-root">
        <div class="nk-split nk-split-page nk-split-md">
            <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                    <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
                </div>
                <div class="nk-block nk-block-middle nk-auth-body">
                    <div class="brand-logo pb-5">
                        <a href="/" class="logo-link">
                            <img class="logo-light logo-img logo-img-lg" src="{{ url_for('static', path='account/logo.png') }}" srcset="{{ url_for('static', path='account/logo.png') }}" alt="logo">
                            <img class="logo-dark logo-img logo-img-lg" src="{{ url_for('static', path='account/logo.png') }}" srcset="{{ url_for('static', path='account/logo.png') }}" alt="logo-dark">
                        </a>
                    </div>
                    <br>
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title">{{ auth_heading or 'Welcome' }}</h3>
                            <div class="nk-block-des alert alert-pro alert-primary">
                                <p class="alert-text">{{ auth_subtitle or '' }}</p>
                            </div>
                        </div>
                    </div><!-- .nk-block-head -->
                    {% if error %}
                    <div class="alert alert-pro alert-danger"><p class="alert-text">{{ error }}</p></div>
                    {% endif %}
                    {% if success %}
                    <div class="alert alert-pro alert-success"><p class="alert-text">{{ success }}</p></div>
                    {% endif %}
                    {% block auth_form %}{% endblock %}
                </div><!-- .nk-block -->
                <div class="nk-block nk-auth-footer">
                    <div id="google_translate_element"></div>
                    <div class="mt-3">
                        <p>&copy; 2026 Western Prime Bank. All Rights Reserved.</p>
                        <p>{% block auth_footer %}{% endblock %}</p>
                    </div>
                </div><!-- .nk-block -->
            </div><!-- .nk-split-content -->

           <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                    <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                        <div class="slider-item">
                            <div class="nk-feature nk-feature-center">
                                <div class="nk-feature-img">
                                    <img class="round" src="{{ url_for('static', path='account/images/security.svg') }}" srcset="{{ url_for('static', path='account/images/security.svg') }} 2x" alt="">
                                </div>
                                <div class="nk-feature-content py-4 p-sm-5">
                                    <h4>Protect your online banking.</h4>
                                    <p>We have security measures in place to safeguard your money, because we are committed to providing you with a secure banking experience. When we come across any hoaxes or scams that target customers, we will raise them to your attention.</p>
                                </div>
                            </div>
                        </div><!-- .slider-item -->
                        <div class="slider-item">
                            <div class="nk-feature nk-feature-center">
                                <div class="nk-feature-img">
                                    <img class="round" src="{{ url_for('static', path='account/images/banking.svg') }}" srcset="{{ url_for('static', path='account/images/banking.svg') }} 2x" alt="">
                                </div>
                                <div class="nk-feature-content py-4 p-sm-5">
                                    <h4>Western Prime Bank</h4>
                                    <p>We'll never send an email containing a link to Western Prime Bank.<br>We'll never ask for your passwords or Secret Code.</p>
                                </div>
                            </div>
                        </div><!-- .slider-item -->
                        <div class="slider-item">
                            <div class="nk-feature nk-feature-center">
                                <div class="nk-feature-img">
                                    <img class="round" src="{{ url_for('static', path='account/images/onlinebanking.svg') }}" srcset="{{ url_for('static', path='account/images/onlinebanking.svg') }} 2x" alt="">
                                </div>
                                <div class="nk-feature-content py-4 p-sm-5">
                                    <h4>Western Prime Bank</h4>
                                    <p>When accessing Western Prime Bank online banking, always open a new browser window and type westernprimebank.com</p>
                                </div>
                            </div>
                        </div><!-- .slider-item -->
                    </div><!-- .slider-init -->
                    <div class="slider-dots"></div>
                    <div class="slider-arrows"></div>
                </div><!-- .slider-wrap -->
            </div><!-- .nk-split-content -->
        </div><!-- .nk-split -->
    </div><!-- app body @s -->
    <!-- JavaScript -->
    <script src="{{ url_for('static', path='account/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='account/assets/js/bundle.js') }}?ver=2.4.0"></script>
    <script src="{{ url_for('static', path='account/assets/js/scripts.js') }}?ver=2.4.0"></script>
    <script src="{{ url_for('static', path='account/js/vendors/sweetalert.js') }}"></script>
    <script src="{{ url_for('static', path='account/assets/js/custom.js') }}"></script>
    <script src="{{ url_for('static', path='account/js/toastr.js') }}"></script>
</body>
</html>
